# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
executors:
  node-executor:
    docker:
          - image: circleci/node:13.7.0
jobs:
  deploy:
    executor: node-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm
      - run:
          name: Build
          command: npm run build
      - run:
          name: Deploy
          command: |
            git config --global user.name "Circle CI"
            git config --global user.email "<>"
            git add -A
            git commit -m "[ci skip] Deploy by CI"
            git push -f https://github.com/suite-sing/portfolio.git master:master
            echo "deploy completed"
workflows:
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
